RewriteEngine On
RewriteBase /

# Wenn Datei oder Ordner existiert, normal ausliefern
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Sonst alles auf index.html (damit /impressum usw. funktionieren)
RewriteRule ^ index.html [L]
